export(eviatlas)
importFrom(dplyr,
  all_vars,
  if_else,
  filter_at,
  n_distinct,
  select_if,
  vars,
  quo,
  "%>%"
)
importFrom(shiny,
  actionButton,
  checkboxInput,
  column,
  conditionalPanel,
  downloadButton,
  downloadHandler,
  fileInput,
  fluidRow,
  htmlOutput,
  icon,
  mainPanel,
  observeEvent,
  outputOptions,
  plotOutput,
  radioButtons,
  renderPrint,
  reactive,
  reactiveValues,
  renderUI,
  selectInput,
  selectizeInput,
  sliderInput,
  shinyApp,
  shinyServer,
  shinyUI,
  sidebarPanel,
  tableOutput,
  tabPanel,
  tabsetPanel,
  textInput,
  uiOutput,
  updateSelectInput,
  wellPanel
)
importFrom(shinyBS,
  bsTooltip
)
importFrom(shinydashboard,
  sidebarMenu,
  menuItem,
  tabItems,
  tabItem,
  box
)
importFrom(shinyWidgets,
  materialSwitch,
  updateMaterialSwitch
)